/* frozen Container */
.frozen-container {
    font-family: "Arial", sans-serif;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* frozen Banner Section */
  .frozen-banner {
    background-image: url('/src/assets/FrozenBanner.avif');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 40px;
    border-radius: 50px;
    position: relative;
  }
  
  .frozen-title {
    font-family: "Anton", "Anton Placeholer", sans-serif;
    letter-spacing: -2px;
    width: 100px;
    font-size: 4rem;
    color: #d60c17;
    font-weight:800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Cards Grid Section */
  .frozen-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 10px;
  }
  
.frozen-card{
  cursor: pointer;
}
  /* Image Wrapper */
  .frozen-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintain square aspect ratio */
    overflow: hidden;
  }
  
  .frozen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    transition: opacity 0.3s ease;
  }
  
  .frozen-image.front {
    opacity: 1;
  }
  
  .frozen-card:hover .frozen-image.front {
    opacity: 0;
  }
  
  .frozen-image.hover {
    opacity: 0;
  }
  
  .frozen-card:hover .frozen-image.hover {
    opacity: 1;
  }
  
  /* Label */
  .frozen-label {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: #8cd17d;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
  }
  
  .frozen-card:hover .frozen-label {
    background-color: #ffa500;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .frozen-banner {
      height: 200px;
      padding-left: 20px;
    }
  
    .frozen-title {
        width: 50px;
      font-size: 1.5rem;
    }
  
    .frozen-grid {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  
    .frozen-label {
      font-size: 1rem;
    }
  }
  