/* Container for sliders */
.logo-slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 1rem 0;
  }
  
  /* Shared Marquee Styling */
  .marquee {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-track {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .marquee-track img {
    width: 150px; /* Adjust image width */
    height: auto;
    object-fit: contain;
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  /* Left-to-Right Animation */
  .left-to-right .marquee-track {
    animation: scroll-left 20s linear infinite;
  }
  .Logo-slider-title{
    font-size: 2.5rem;
    color: #3d6b30;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Right-to-Left Animation */
  .right-to-left .marquee-track {
    animation: scroll-right 20s linear infinite;
  }
  
  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Adjust image size for mobile */
  @media (max-width: 768px) {
    .marquee-track img {
      width: 100px; /* Smaller images on mobile */
    }
  }
  